<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17325984042-52pfuujjtghp663p1s7uafhqfcfaat3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17325984042-52pfuujjtghp663p1s7uafhqfcfaat3l</string>
	<key>API_KEY</key>
	<string>AIzaSyAy3sMcLA7ngj-OZyOpaMiTv2U9aPkY-pY</string>
	<key>GCM_SENDER_ID</key>
	<string>17325984042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tse.cbl.callBlackLine</string>
	<key>PROJECT_ID</key>
	<string>callblackline-tse</string>
	<key>STORAGE_BUCKET</key>
	<string>callblackline-tse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17325984042:ios:9f04b128af1f6b4bdb3653</string>
	<key>DATABASE_URL</key>
	<string>https://callblackline-tse-default-rtdb.firebaseio.com</string>
</dict>
</plist>